{% extends "index.html" %}

{% block head %}
<title>Авторизация</title>
<style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 400px;
            height: 400px;
            padding: 20px;
            border: 1px solid;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
        }

        h2 {
            margin-top: 20px;
        }

</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1 style="text-align: center">Авторизация</h1>
    <hr>
    <form id="loginForm">
        <div class="modal-content">
            <label for="login">Логин</label>
            <input type="text" class="form-control" id="login" name="login" required>
        </div>
        <div class="modal-content">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <input type="hidden" name="_csrf" value="${_csrf.token}">
        <button type="submit" class="btn btn-dark">Войти</button>
    </form>
    <hr>
    <div style="text-align: center;">
        <h2>Нет аккаунта на сайте -<a href="/pages/registration">Зарегистрируйтесь!</a></h2>
    </div>
</div>
<script>
        async function submitForm(event) {
            event.preventDefault();

            const loginInput = document.getElementById('login');
            const passwordInput = document.getElementById('password');

            const login = loginInput.value;
            const password = passwordInput.value;
            localStorage.setItem('user_password', password);


            const formData = new URLSearchParams();
            formData.append('grand_type', '');
            formData.append('username', login);
            formData.append('password', password);
            formData.append('scope', '');
            formData.append('client_id', '');
            formData.append('client_secret', '');

            try {
                const response = await fetch(`/auth/login`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: formData
                });

                if (response.ok) {
                    const data = await response.json();
                    localStorage.setItem('token', data.access_token);
                    console.log('Access Token:', data.access_token);
                    window.location.href = '/pages/default_user_profile';
                } else {
                    const errorData = await response.json();
                    console.error('Login failed:', errorData.detail);
                }
            } catch (error) {
                console.error('Ошибка:', error);
            }

        }

        const form = document.getElementById('loginForm');
        form.addEventListener('submit', submitForm);

</script>

{% endblock %}