{% extends "index.html" %}

{% block head %}
    <title>Авторизация</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            width: 400px;
            height: 400px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #333;
            color: #fff;
            border: none;
            border-radius: 3px;
        }

        h2 {
            margin-top: 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <h1 style="text-align: center">Авторизация</h1>
        <hr>
        <form id="loginForm">
            <div class="form-group">
                <label for="login">Логин</label>
                <input type="text" class="form-control" id="login" name="login" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <input type="hidden" name="_csrf" value="${_csrf.token}">
            <button type="submit" class="btn btn-dark">Войти</button>
        </form>
        <hr>
        <div style="text-align: center;">
            <h2>Нет аккаунта на сайте - <a href="/pages/registration">Зарегистрируйтесь!</a></h2>
        </div>
    </div>
    <script>
        function submitForm(event) {
            event.preventDefault();

            const loginInput = document.getElementById('login');
            const passwordInput = document.getElementById('password');

            const login = loginInput.value;
            const password = passwordInput.value;

            fetch(`/auth/login/${login}/${password}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/pages/default_user_profile';
                    } else {
                        throw new Error('Ошибка регистрации');
                    }
                })
                .catch(error => {
                    console.error('Ошибка:', error);
                });
        }

        const form = document.getElementById('loginForm');
        form.addEventListener('submit', submitForm);
    </script>

{% endblock %}