{% extends "index.html" %}

{% block head %}
{% endblock %}

{% block content %}
<h1 style="text-align: center">Личный кабинет</h1>
<hr>
<div style="text-align: center; display: flex; flex-direction: column; align-items: center;">
    <div>
        <h2 id="user-name"></h2>
    </div>
    <div>
        <h2>Логин: <b id="user-login"></b></h2>
    </div>

    <div id="user-view">
    </div>
    <div>
        <form id="logoutForm">
            <input type="hidden" name="_csrf" value="${_csrf.token}" />
            <button id="logoutButton" type="submit" style="text-align: center; width: 100%" class="btn btn-danger mb-2">
                Выйти из аккаунта
            </button>
        </form>
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', async function() {
        try {
            const token = localStorage.getItem('token')
            const response = await fetch('/auth/current_user', {
                    headers: {
                        'Authorization': `Bearer ${token}`
                    },
                });
            if (response.ok) {
                const user = await response.json();
                localStorage.setItem('user_id', user.id);
                localStorage.setItem('user_name', user.name);
                localStorage.setItem('user_surname', user.surname);
                localStorage.setItem('user_login', user.login);
                localStorage.setItem('user_role', user.role);
                document.getElementById('user-name').textContent = user.name;
                document.getElementById('user-login').textContent = user.login;

                if (user.role === 'ROLE_USER') {
    document.getElementById('user-view').innerHTML += `
        <a class="btn btn-dark mb-3" style="text-align: center; width: 100%" href="/pages/package_tracking">
            Отслеживание груза
        </a>
        <a class="btn btn-dark mb-3" style="text-align: center; width: 100%" href="/pages/package_history">
            История грузов
        </a>
        <a class="btn btn-dark mb-3" style="text-align: center; width: 100%" href="/pages/profile">
            Профиль
        </a>
    `;
} else {
    document.getElementById('user-view').innerHTML += `
        <a class="btn btn-dark mb-3" style="text-align: center; width: 100%" href="/pages/user_list">
            Список пользователей
        </a>
        <a class="btn btn-dark mb-3" style="text-align: center; width: 100%" href="/pages/create_user">
            Создать учетную запись
        </a>
    `;
}


                document.getElementById('logoutButton').addEventListener('click', async function(event) {
                    event.preventDefault();
                    try {
                        const logoutResponse = await fetch('/auth/logout', { method: 'POST' });
                        if (logoutResponse.ok) {
                            localStorage.removeItem('token');
                            localStorage.removeItem('user_name');
                            localStorage.removeItem('user_surname');
                            localStorage.removeItem('user_login');
                            localStorage.removeItem('user_password');
                            localStorage.removeItem('user_id');
                            localStorage.removeItem('user_role');
                            window.location.href = '/pages/login';
                        } else {
                            console.error('Logout failed:', logoutResponse.status);
                        }
                    } catch (logoutError) {
                        console.error('Error logging out:', logoutError);
                    }
                });
            } else {
                console.error('Error fetching user data:', response.status);
            }
        } catch (error) {
            console.error('Error fetching user data:', error);
        }
    });


</script>
{% endblock %}